<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Arin Coffee</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Admin/vendors/images/icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Admin/vendors/images/icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Admin/vendors/images/icon.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendors/styles/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/Content/Admin/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendors/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <!-- switchery css -->
    <!-- bootstrap-tagsinput css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/src/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">
    <!-- bootstrap-touchspin css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/src/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/vendors/styles/style.css">



</head>
<body>
    @*<div class="pre-loader">
        <div class="pre-loader-box">

        <div class="loader-logo" style="width:300px !important;"><div class="tenor-gif-embed" data-postid="14422233" data-share-method="host" data-width="100%" data-aspect-ratio="1.0"></div></div>
        <div class='loader-progress' id="progress_div">
        <div class='bar' id='bar1'></div>
        </div>
        <div class='percent' id='percent1'>80%</div>
        <div class="loading-text">
        Yükleniyor...
        </div>
        </div>
        </div>*@


    <div class="header">
        <div class="header-right">
                       <div class="dashboard-setting user-notification">
                <div class="dropdown">
                    <a class="dropdown-toggle no-arrow" href="/Login/Logout"><i class="dw dw-logout"></i> Log Out</a>

                </div>
            </div>
        </div>
    </div>

    <div class="right-sidebar">
        <div class="sidebar-title">
            <h3 class="weight-600 font-16 text-blue">
                Layout Settings
                <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
            </h3>
            <div class="close-sidebar" data-toggle="right-sidebar-close">
                <i class="icon-copy ion-close-round"></i>
            </div>
        </div>
        <div class="right-sidebar-body customscroll">
            <div class="right-sidebar-body-content">
                <h4 class="weight-600 font-18 pb-10">Header Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
                    <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
                </div>

                <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
                    <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
                <div class="sidebar-radio-group pb-10 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
                        <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
                        <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
                        <label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
                    </div>
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
                <div class="sidebar-radio-group pb-30 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
                        <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
                        <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
                        <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
                        <label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
                        <label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
                        <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
                    </div>
                </div>

                <div class="reset-options pt-30 text-center">
                    <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
                </div>
            </div>
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo">
      @*      <a href="/Admin">
                <img src="~/Content/Admin/vendors/images/logo.png" alt="" class="dark-logo">
                <img src="~/Content/Admin/vendors/images/logo.png" alt="" class="light-logo">
            </a>*@
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li>
                        <a href="/Admin/Index" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
                        </a>
                    </li>
                @*    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-edit2"></span><span class="mtext">Sliderler/Resimler</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/Admin/MainSlider">Main Slider</a></li>
                        </ul>
                    </li>*@

                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-align-center"></span><span class="mtext">drop</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/Admin/CategoryAdd">Kategori Ekle</a></li>
                                <li><a href="/Admin/ProductAdd">Ürün Ekle</a></li>

                          @*  <li><a href="/Edit/Issuse">Editor Sended(issused)</a></li>
                            <li><a href="/Edit/Accepted">Editor Sended(Accepted)</a></li>
                            <li><a href="/Edit/Pending">Editor Sended(Pending)</a></li>*@
                            @*<li><a href="/Admin/IncomeCalculator">Editör Gelirleri</a></li>*@
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">


                    @RenderBody()


                </div>
            </div>
        </div>
    </div>



    <script src="~/Content/Admin/vendors/scripts/core.js"></script>
    <script src="~/Content/Admin/vendors/scripts/script.min.js"></script>
    <script src="~/Content/Admin/vendors/scripts/process.js"></script>
    <script src="~/Content/Admin/vendors/scripts/layout-settings.js"></script>
    <script src="~/Content/Admin/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/Admin/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/Admin/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

</body>
</html>

