@using System.Security.Claims
<!doctype html>
<html class="no-js" lang="zxx">

<head>

    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Arin Coffee - Coffee Shop HTML5 Template</title>

    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.ico" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>


    <!-- header start -->
    <header class="site-header">
        <div class="header-top header-top__2">
            <div class="container-fluid custom-width">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 align-self-center">
                        <div class="header-top__left d-flex align-items-center">
                            <div class="logo">
                                <a href="/Home/Index">
                                    <img src="~/assets/images/logo/logo-black.png" alt="img">
                                </a>
                            </div>
                            <ul class="header-top__infos pl-75 list-unstyled d-flex align-items-center mb-0">
                                <li><a href="tel:91800458568"><i class="fas fa-phone-square"></i> 91 800 458 568</a></li>
                                <li><i class="fa fa-map-marker-alt"></i>LONDON , UK</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12  align-self-center">
                        <div class="header-top__right header-top__right--2 d-flex justify-content-xl-end justify-content-center align-items-center">
                            @{
                                if (!String.IsNullOrEmpty(User.FindFirstValue(ClaimTypes.Name)))
                                {
                                    <a href="/Shop/OrderHistory"> <h5>Welcome @User.FindFirstValue(ClaimTypes.Name)-</h5></a>
                                    <a href="/Account/LogOff"><h5>-Log Out</h5></a>
                                }
                                else
                                {
                                    <a href="/Account/Login" class="site-btn">Login</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area menu-area-2 custom-padding">
            <div class="container-fluid custom-width">
                <div class="row">
                    <div class="col-xl-8 col-lg-9 col-6">
                        <div class="logo mm-only d-md-block d-lg-none">
                            <a href="/Home/Index">
                                <img src="~/assets/images/logo/logo-black.png" alt="img">
                            </a>
                        </div>
                        <div class="main-menu main-menu__2">
                            <nav id="mobile-menu">
                                <ul>
                                    <li><a href="/">Home</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-6 align-self-center">
                        <div class="menu-area__right menu-area__right--2 d-flex justify-content-end align-items-center">

                            <div class="hamburger-trigger item">
                                <i class="far fa-bars"></i>
                            </div>
                            @{
                                if (!String.IsNullOrEmpty(User.FindFirstValue(ClaimTypes.Name)))
                                {
                                    @await Component.InvokeAsync("Card", Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->
    <!-- side info for mobile view -->
    <aside class="side-info-wrapper mm-only">
        <nav>
            <div class="nav" id="nav-tab" role="tablist">
                <a class="nav-link active" id="menu-tab-1-tab" data-bs-toggle="tab"
                   href="#menu-tab-1" role="tab" aria-controls="menu-tab-1"
                   aria-selected="true">Menu</a>
                <a class="nav-link" id="menu-tab-2-tab" data-bs-toggle="tab" href="#menu-tab-2"
                   role="tab" aria-controls="menu-tab-2" aria-selected="false">Info</a>
            </div>
        </nav>
        <div class="side-info__wrapper d-flex align-items-center justify-content-between">
            <div class="side-info__logo">
                <a href="/Home/Index">
                    <img src="~/assets/images/logo/logo-black.png" alt="logo">
                </a>
            </div>
            <div class="side-info__close">
                <a href="javascript:void(0);"><i class="fal fa-times"></i></a>
            </div>
        </div>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="menu-tab-1" role="tabpanel"
                 aria-labelledby="menu-tab-1-tab">
                <div class="mobile-menu"></div>
            </div>
            <div class="tab-pane fade" id="menu-tab-2" role="tabpanel"
                 aria-labelledby="menu-tab-2-tab">
                <div class="side-info">
                    <div class="side-info__content mb-35">
                        <h4 class="title mb-5">About us</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  nisi ut aliquip ex ea commodo consequat.</p>
                        <a class="site-btn mt-20" href="/Home/Contact">Contact us</a>
                    </div>
                    <div class="contact__info--wrapper mt-15">
                        <h4 class="title mb-10">Contact us</h4>
                        <ul class="contact__info list-unstyled">
                            <li>
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>Bowery St., New York, NY 10013, USA</p>
                            </li>
                            <li>
                                <span><i class="fas fa-phone"></i></span>
                                <p>+1255-568-6523</p>
                            </li>
                            <li>
                                <span><i class="fas fa-envelope-open-text"></i></span>
                                <p>information@gmail.com</p>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </aside>

    <!-- side info for desktop view -->
    <aside class="side-info-wrapper show-all">
        <div class="side-info__wrapper d-flex align-items-center justify-content-between">
            <div class="side-info__logo">
                <a href="/Home/Index">
                    <img src="~/assets/images/logo/logo-black.png" alt="logo">
                </a>
            </div>
            <div class="side-info__close">
                <a href="javascript:void(0);"><i class="fal fa-times"></i></a>
            </div>
        </div>
        <div class="side-info">
            <div class="side-info__content mb-35">
                <h4 class="title mb-5">About us</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  nisi ut aliquip ex ea commodo consequat.</p>
                <a class="site-btn mt-20" href="/Home/Contact">Contact us</a>
            </div>
            <div class="contact__info--wrapper mt-15">
                <h4 class="title mb-10">Contact us</h4>
                <ul class="contact__info list-unstyled">
                    <li>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <p>Bowery St., New York, NY 10013, USA</p>
                    </li>
                    <li>
                        <span><i class="fas fa-phone"></i></span>
                        <p>+1255-568-6523</p>
                    </li>
                    <li>
                        <span><i class="fas fa-envelope-open-text"></i></span>
                        <p>information@gmail.com</p>
                    </li>
                </ul>
            </div>

        </div>
    </aside>
    @{
        if (!String.IsNullOrEmpty(User.FindFirstValue(ClaimTypes.Name)))
        {
            @await Component.InvokeAsync("CardItems", Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier)))
        }
    }
    <div class="overlay"></div>

    @RenderBody()


    <footer class="site-footer dark-bg pt-125 position-relative">
        <div class="footer__top">
            <a href="#" class="go-top go-top__white position-absolute d-flex align-items-center justify-content-center">
                <i class="fal fa-long-arrow-up"></i>
            </a>
            <div class="container">
                <div class="row justify-content-center mt-none-30">
                    <div class="col-xl-3 col-lg-6 mt-30">
                        <div class="footer__widget footer__info">
                            <div class="item d-flex align-items-center justify-content-center">
                                <img src="~/assets/images/icons/ft-phone.png" alt="">
                                <span>Phone :</span>
                                <a href="tel:88019339702520">+88019 339 702 520</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 mt-30 pl-55">
                        <div class="footer__widget footer__info">
                            <div class="item d-flex align-items-center justify-content-start">
                                <img src="~/assets/images/icons/ft-map-marker.png" alt="">
                                <span>Address :</span>
                                <p>UK,LONDON</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-8 mt-30 pl-55">
                        <div class="footer__widget">
                            <div class="subscribe">
                                <form action="/Home/Index">
                                    <input type="email" name="email" id="email" placeholder="Enter your email">
                                    <button type="submit" class="subscribe__btn">Subscribe <i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__middle mt-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="footer__logo--content">
                            <img class="mb-15" src="~/assets/images/logo/logo.png" alt="">
                            <p>
                                Arin Coffee
                                Brew Your Mood!
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 align-self-end">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__menu-area mt-30 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="footer__menu">
                            <nav>
                                <ul>
                                    <li class="active"><a href="/Home/Index">Home</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-end">
                        <a href="#" class="go-top go-top__bottom">
                            <span>go top</span>
                            <i class="fal fa-long-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--========= JS Here =========-->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/tilt.jquery.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/scrollwatch.js"></script>
    <script src="~/assets/js/sticky-header.js"></script>
    <script src="~/assets/js/waypoint.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfpGBFn5yRPvJrvAKoGIdj1O1aO9QisgQ"></script>
    <script src="~/assets/js/jquery-ui-slider-range.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>

</html>